body{
	font-family: sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
	color: #fff;
}

.contacto__rapido{
	display: flex;
	background-color: #bdb5b5;
}
.contacto__rapido i{
	margin: 10px;
}
.contacto__rapido p{
	margin: 2px;
	color: #fff;
}

header{
	 display: flex;
	 justify-content: space-between;
	 min-height: 55px;
	 background-color: #000;
	 align-items: center;
}

.logo img{
	height: 50px;
	align-items: center;
	margin-left: 10px;
	margin-top: 2px;
}

nav a{
	font-weight: 600;
	padding-right: 10px;
}

nav a:hover{
	color: #c2c2c2;
}


@media (max-width: 700px){
	header{
		flex-direction: column;
	}
	nav{
		padding: 10px 0px;
	}
	.contacto__rapido{
		display: grid;
	}
}